<div style="width: 1000px;">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>Fill in delivery details</ng-template>
      <br>
      <form style="text-align: center;" [formGroup]="branchOrderForm">
        <mat-form-field style="width: 30%;">
          <mat-label>Delivery Date</mat-label>
          <input matInput [matDatepicker]="picker"  formControlName="deliveryDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> &nbsp;
        <mat-form-field style="width: 30%;">
          <mat-label>Delivery Method</mat-label>
          <mat-select formControlName="deliveryMethod">
            <mat-option value="Lalamove">Lalamove</mat-option>
            <mat-option value="Pickup">Pickup</mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field style="width: 30%;">
          <mat-label>Payment Method</mat-label>
          <mat-select formControlName="paymentMethod">
            <mat-option value="BPI">BPI</mat-option>
            <mat-option value="Cash">Cash</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;
        <mat-form-field style="width: 30%;">
          <mat-label>Delivery Charge</mat-label>
          <span matPrefix>&#8369;&nbsp;</span>
          <input formControlName="deliveryCharge" matInput class="example-right-align"
            keypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null">
        </mat-form-field>
      </form>

      <div style="text-align: center;">
        <button mat-button matStepperNext [disabled]="branchOrderForm.invalid">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select items to purchase</ng-template>
      <mat-form-field class="example-chip-list">
        <mat-label>Regular Items</mat-label>
        <mat-chip-list #chipList aria-label="Item selection">
          <mat-chip *ngFor="let item of items" [selectable]="true" [removable]="true" (removed)="remove(item.itemName)">
            {{item.itemName}} {{item.size}}
            <span *ngIf="item.variant!='' && item.variant!=undefined">&nbsp;({{item.variant}})</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="New item..." #itemInput [formControl]="itemCtrl" [matAutocomplete]="auto1"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let item of filteredItems | async" [value]="item">
            {{item.itemName}} {{item.size}}
            <span *ngIf="item.variant!='' && item.variant!=undefined">&nbsp;({{item.variant}})</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-chip-list">
        <mat-label>Promos</mat-label>
        <mat-chip-list #chipList2 aria-label="Promo selection">
          <mat-chip *ngFor="let promo of promos" [selectable]="true" [removable]="true"
            (removed)="remove2(promo.promoName)">
            {{promo.promoName}} 
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="New promo item..." #promoInput [formControl]="promoCtrl" [matAutocomplete]="auto2"
            [matChipInputFor]="chipList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add2($event)">
        </mat-chip-list>
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selected2($event)">
          <mat-option *ngFor="let promo of filteredPromos | async" [value]="promo">
            {{promo.promoName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div style="text-align: center;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="createInvoice()">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fill in Item Quantities</ng-template>
      <div style="text-align: center;" *ngFor="let branchOrderItem of branchOrderItemList.controls; index as i">
        <ng-container [formGroup]="branchOrderItem">
          <mat-form-field appearance="standard" style="width: 40%; height: auto;">
            <mat-label>Product Name</mat-label>
            <textarea formControlName="productName" matInput readonly="true"></textarea>
          </mat-form-field> &nbsp;

          <mat-form-field appearance="standard" style="width: 19%;">
            <mat-label>Quantity</mat-label>
            <input formControlName="quantity" matInput (ngModelChange)="onQuantityChange(i)" />
          </mat-form-field> &nbsp;
          <mat-form-field appearance="standard" style="width: 19%;">
            <mat-label>Dealer's Price</mat-label>
            <span matPrefix>&#8369;&nbsp;</span>
            <input formControlName="dealersPrice" matInput readonly="true" />
          </mat-form-field> &nbsp;
        </ng-container>
      </div>
      <div style="text-align: center;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="createReceipt()">Confirm</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review and Confirm</ng-template>
    
      <div class="row">
        <div class="col-md-6" style="text-align: right;">
          Delivery Date: {{branchOrder.deliveryDate.toLocaleString()}}
        </div>
        <div class="col-md-6" style="text-align: left;">
          Delivery Method: {{branchOrder.deliveryMethod}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="text-align: right;">
          Payment Method: {{branchOrder.paymentMethod}}
        </div>
        <div class="col-md-6" style="text-align: left;">
          Delivery Charge: {{branchOrder.deliveryCharge}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          Grand Total: {{branchOrder.grandTotal}}
        </div>
      </div>
      <br>
      <table style="width:100%">
        <tr>
          <th>Product No</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Dealer's Price</th>
        </tr>
        <tr *ngFor="let branchOrderItem of branchOrderItemList.value; index as i">
          <th>{{i+1}}</th>
          <th>{{branchOrderItem.productName}}</th>
          <th>{{branchOrderItem.quantity}}</th>
          <th>{{branchOrderItem.dealersPrice}}</th>
        </tr>
      </table>

      <div style="text-align: center;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [mat-dialog-close] ="{branchOrder: branchOrder, branchOrderItemList: branchOrderItemList.value}">Confirm</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>