<br>
<div style="max-height: 500px; overflow: auto;">
    <div style="text-align: center;">
        <h1>SALES INVOICE</h1>
    </div>
    <table id="order" style="width: 100%;">
        <tr>
            <th class="center">Item</th>
            <th class="center">Quantity</th>
            <th class="center">Price</th>
        </tr>
        <br>
        <tr *ngFor="let product of customerOrderItemLists; index as i">
            <td class="itemname">
                <button mat-icon-button color="warn" (click)="delete(i)">
                    <mat-icon>remove</mat-icon>
                </button>
                <span *ngIf="product.name!=undefined">
                    <label>{{product.name}}</label>
                    <span *ngIf="product.product.variant!='' && product.product.variant!=undefined">
                        <br><label>({{product.product.variant}})</label></span>
                </span>
                <span *ngIf="product.promoItemList.length != 0 && product.promoItemList != undefined">
                    <span><label>**PROMO**</label></span>
                    <div *ngFor="let promoitem of product.promoItemList">
                        <label *ngIf="promoitem.freebie">Free&nbsp;</label>
                        <label *ngIf="promoitem.quantity!=1 ">{{promoitem.quantity}}&nbsp;</label>
                        <label>{{promoitem.item.itemName}} {{promoitem.item.size}}</label>
                        <label
                            *ngIf="promoitem.item.variant!='' && promoitem.item.variant!=undefined">&nbsp;({{promoitem.item.variant}})</label>
                    </div>
                </span>
            </td>
            <td> {{product.quantity}}</td>
            <td ><span *ngIf="product.freebie; else price">FREE ITEM</span>
                <ng-template #price>{{product.sellingPrice}}</ng-template>
                
            </td>
            
        </tr>
        <br>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{grandTotal}}</td>
        </tr>
    </table>
    <br>
    <div style="text-align: center;">
        <button mat-raised-button color="primary" (click)="confirm()">CONFIRM</button>
    </div>

</div>