<br>
<div class="container">
    <div [formGroup]="branchOrderForm">
        <mat-form-field style="width: 19%;">
            <mat-label>Total</mat-label>
            <span matPrefix>&#8369;&nbsp;</span>
            <input formControlName="grandTotal" matInput class="example-right-align" readonly="true"
                keypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null">
        </mat-form-field> &nbsp;
        <mat-form-field style="width: 19%;">
            <mat-label>Delivery Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="deliveryDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> &nbsp;
        <mat-form-field style="width: 19%;">
            <mat-label>Delivery Method</mat-label>
            <mat-select formControlName="deliveryMethod">
                <mat-option value="Lalamove">Lalamove</mat-option>
                <mat-option value="Pickup">Pickup</mat-option>
            </mat-select>
        </mat-form-field>&nbsp;
        <mat-form-field style="width: 19%;">
            <mat-label>Payment Method</mat-label>
            <mat-select formControlName="paymentMethod">
                <mat-option value="BPI">BPI</mat-option>
                <mat-option value="Cash">Cash</mat-option>
            </mat-select>
        </mat-form-field>&nbsp;
        <mat-form-field style="width: 19%;">
            <mat-label>Delivery Fee</mat-label>
            <span matPrefix>&#8369;&nbsp;</span>
            <input formControlName="deliveryCharge" matInput class="example-right-align"
                keypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null">
        </mat-form-field>
    </div>
    <br>
    <div class="container" style="width: 1000px; overflow:auto; max-height: 300px;">
        <div class="row" style="text-align: center;"
            *ngFor="let branchOrderItem of branchOrderItemList.controls; index as i">
            <ng-container [formGroup]="branchOrderItem">

                <span *ngIf="branchOrderItem.value.productType == 'item'">
                    <mat-form-field appearance="standard" style="width: 30%">
                        <mat-label>Item</mat-label>
                        <input matInput readonly="true" formControlName="branchOrderItemName" />
                    </mat-form-field>&nbsp;
                </span>

                <span *ngIf="branchOrderItem.value.productType == 'promo'">
                    <mat-form-field appearance="standard" style="width: 30%; height: auto;">
                        <mat-label>Item</mat-label>
                        <textarea matInput readonly="true" formControlName="promoItems"></textarea>
                    </mat-form-field>&nbsp;
                </span>

                <mat-form-field appearance="standard" style="width: 20%">
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="quantity" type="number" />
                </mat-form-field>&nbsp;
                <mat-form-field appearance="standard" style="width: 20%">
                    <mat-label>Dealer's Price</mat-label>
                    <span matPrefix>&#8369;&nbsp;</span>
                    <input matInput formControlName="dealersPrice" readonly="true" />
                </mat-form-field>&nbsp;
                <mat-checkbox formControlName="freebie">Freebie</mat-checkbox>
                <button mat-button color="warn" (click)="deleteItems(branchOrderItem.value, i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
</div>
<div class="container" style="width: 1000px; text-align: center;">
    <button mat-raised-button color="accent" (click)="goBack()">Go Back</button>&nbsp;
    <button mat-raised-button color="accent" >Add Free Items</button> &nbsp;
    <button mat-raised-button color="accent" >Confirm</button>
</div>