<br>

<div style=" width: 600px;">

    <table id="order">
        <tr>
            <th style="text-align: center;">Item</th>
            <th style="text-align: center;">Quantity</th>
            <th style="text-align: center;">Price</th>
        </tr>
        <br>
        <tr *ngFor="let product of branchOrderitems; index as i">
            <td >
                <span *ngIf="product.name!=undefined">
                    <label>{{product.name}}</label>
                    <span *ngIf="product.product.variant!='' && product.product.variant!=undefined">
                        <br><label>({{product.product.variant}})</label></span>
                </span>
                <div *ngIf="product.promoItemList">
                    <!-- <div><label>**PROMO**</label></div> -->
                    <div *ngFor="let promoitem of product.promoItemList">
                        <span *ngIf="promoitem.freebie"><label >Free Item:</label>&nbsp;</span>
                        <label *ngIf="promoitem.quantity!=1 ">{{promoitem.quantity}}&nbsp;</label>
                        <label>{{promoitem.item.itemName}} {{promoitem.item.size}}</label>
                        <label
                            *ngIf="promoitem.item.variant!='' && promoitem.item.variant!=undefined">&nbsp;({{promoitem.item.variant}})</label>
                    </div>
                </div>
            </td>
            <td style="text-align: right;"> {{product.quantity}}</td>
            <td style="text-align: right;"><span *ngIf="product.freebie; else price">FREE ITEM</span>
                <ng-template #price>{{product.dealersPrice}}</ng-template>
            </td>
        </tr>
    </table>
    <br>
    <div style="text-align: center;">
        <button mat-raised-button color="primary" [disabled]="data.paid" (click)="changeStatus('PAY')" [mat-dialog-close]="true">
            PAY {{data.grandTotal}}
        </button>&nbsp;
        <button mat-raised-button color="primary" [disabled]="data.delivered" (click)="changeStatus('DELIVER')" [mat-dialog-close]="true">
            DELIVER
        </button>
        <br>
    </div>

</div>