<div style="text-align: center;">
    
    <div *ngIf="product.name!=undefined"><label>{{product.name}}</label></div>
    <div *ngIf="product.promoItemList.length != 0 && product.promoItemList != undefined">
        <div *ngFor="let promoitem of product.promoItemList">
            <label *ngIf="promoitem.quantity!=1 ">{{promoitem.quantity}}&nbsp;</label>
            <label>{{promoitem.item.itemName}} {{promoitem.item.size}}</label>
            <label *ngIf="promoitem.item.variant!='' && promoitem.item.variant!=undefined">&nbsp;({{promoitem.item.variant}})</label>
        </div>
    </div>
    <div *ngIf="product.variant!='' && product.variant!=undefined "><label>{{product.variant}}</label></div>
    <br>
    SRP Total: &#8369;{{totalSRP}}<br>
    Discounted: &#8369;{{discountedPrice}}<br><br>
    <label>Item Discount (%)</label><br>
    <input type="number" style="width: 110px;" [(ngModel)]="product.itemDiscount" (ngModelChange)="computePrice()">
    <div>
        <button mat-icon-button (click)="remove()" [disabled]="disableRemove">
            <mat-icon>remove</mat-icon>
        </button>&nbsp;
        <label>{{product.quantity}}</label>&nbsp;
        <button mat-icon-button (click)="add()" [disabled]="disableAdd">
            <mat-icon>add</mat-icon>
        </button>
    </div><br>
    <div>
        <button mat-mini-fab color = "primary" (click)="addItem(false)" [mat-dialog-close]="product" > 
            <mat-icon>shopping_cart</mat-icon>
        </button> &nbsp;
        <button mat-mini-fab color = "primary" (click)="addItem(true)" [mat-dialog-close]="product">
            <mat-icon>sell</mat-icon>
        </button> &nbsp;
    </div>
</div>