table {
    width: 100%;
}
    
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-column-itemName{
    text-align: center;
    width: 30% !important;
}
.mat-column-category, .mat-column-srp, .mat-column-stocksLeft, .mat-column-delete{
    text-align: center;
    width: 17.5% !important;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }